<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>神舟电脑旗舰店</title>
    <link rel="stylesheet" href="/swiper/dist/css/swiper.min.css" />
    <link rel="stylesheet" href="/css/reset3.0.css" />
    <link rel="stylesheet" href="/css/index_header.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/swiper/dist/js/swiper.min.js"></script>
    <script src="/axios/dist/axios.min.js"></script>
    <script src="/qs/dist/qs.js"></script>
  </head>
  <body>
    <div class="container index_container">
      <% const getstrnum=n=>{let num;n>10000?num=parseInt(n/10000)+'万+':n>1000?num=parseInt(n/1000)+'000+':n>100?num=parseInt(n/100)+'00+':num=n;return num} %>
      <!-- 头部 -->
      <%- include('index_header',{header:header[0],page:{index:'active',baby:'',hd:'',fl:'',wt:''}}) %>
      <!-- 主体 -->
      <main class="main">
        <!-- 轮播一 -->
        <div class="swiper-container swiper_one">
          <div class="swiper-wrapper">
            <% if(swiper1){swiper1.forEach(i=>{ %>
            <div class="swiper-slide">
              <% if(i.src){ %>
              <img src="<%= i.src %>" alt="" onclick="window.location.href='<%= i.route %>'" />
              <% } %>
            </div>
            <% })} %>
          </div>
          <!--分页器 -->
          <div class="swiper-pagination"></div>
        </div>
        <!-- 轮播二 -->
        <div class="swiper-container swiper_two">
          <div class="swiper-wrapper">
            <% if(swiper2){swiper2.forEach(i=>{ %>
            <div class="swiper-slide">
              <% if(i.src){ %>
              <img src="<%= i.src %>" alt="" onclick="window.location.href='<%= i.route %>'" />
              <% } %>
            </div>
            <% })} %>
          </div>
          <!--分页器 -->
          <div class="swiper-pagination"></div>
        </div>
        <% if(introduce[0]){ introduce.forEach(i=>{let flag; i.route ? flag='t':null %>
        <div class="goods_view" onclick="if('<%= flag %>'){window.location.href='<%= i.route %>'}">
          <img src="<%= i.src %>" alt="" />
          <% if(i.box1C){ %>
          <div class="<%= i.box1C %>" onclick="window.event.stopPropagation();window.location.href='<%= i.b1r %>'"></div>
          <% } if(i.box2C){ %>
          <div class="<%= i.box2C %>" onclick="window.event.stopPropagation();window.location.href='<%= i.b2r %>'"></div>
          <% } %>
        </div>
        <% })} %>
        <div class="list">
          <nav class="nav">
            <div class="active">销量榜</div>
            <div>收藏榜</div>
            <div>新品榜</div>
          </nav>
          <div class="swiper-container content">
            <div class="swiper-wrapper">
              <% if(list){ for(let k in list){ %>
              <div class="swiper-slide swiper-no-swiping">
                <% list[k].forEach((i,index)=>{ let flag; i.route ? flag='t':null %>
                <div class="goods" onclick="if('<%= flag %>'){window.location.href='<%= i.route %>'}">
                  <div class="pic">
                    <img src="<%= i.src %>" alt="" />
                  </div>
                  <div class="details">
                    <div class="model">
                      <span class="title ellipsis"><%= i.title %></span>
                      <div class="advantage">
                        <% if(k != 'xplist'){ %>
                        <img src="/img/index/fire.webp" alt="" />
                        <span class="num"><%= i.interesteds %></span>
                        <span class="text">个客官感兴趣</span>
                        <% }else{ %>
                        <img src="/img/index/grass.webp" alt="" />
                        <span class="num"><%= i.recommend %></span>
                        <span class="text">被种草</span>
                        <% } %>
                      </div>
                    </div>
                    <div class="price">
                      <span class="rmb">￥</span>
                      <span class="num"><%= i.price.toFixed(0) %></span>
                      <% if(k == 'rxlist'){ let num; if(i.monthsales){num=getstrnum(i.monthsales)}else{num=0} %>
                      <span class="count"><%= num %>人付款</span>
                      <% }else{ let num; if(i.collections){num=getstrnum(i.collections)}else{num=0} %>
                      <span class="count"><%= num %>人收藏</span>
                      <% } %>
                    </div>
                  </div>
                  <img src="/img/index/list_top<%= index+1 %>.png" alt="" />
                </div>
                <% }) %>
                <div class="more">查看全部</div>
              </div>
              <% }} %>
            </div>
          </div>
        </div>
      </main>
      <!-- 尾部 -->
      <footer class="footer">
        <div class="pic_title">
          <img src="../img/index/more.webp" alt="" />
        </div>
        <div class="goods_list">
          <ul></ul>
          <ul></ul>
        </div>
      </footer>
    </div>
  </body>
  <script src="/js/custom.js"></script>
  <script src="/js/index_header.js"></script>
  <script src="/js/index.js"></script>
</html>
